/**
 * Variable
 */
:root {
    --editor-block-background: #191919;
    --editor-block-color: #fff;
    --editor-block-placeholder: "Block: " attr(id) " ";
    --editor-border: #19191933;
    --editor-button-background: #191919;
    --editor-button-color: #fff;
    --editor-cancel-background: #f1c40f;
    --editor-cancel-color: #191919;
    --editor-cmd-focus: #f1c40f;
    --editor-draggable: #191919;
    --editor-dragover: #19191933;
    --editor-empty: 'No content :-( ... click a button in the toolbar to add some :-)';
    --editor-error: #960200;
    --editor-focus: #f1c40f;
    --editor-hover: #f1c40f;
    --editor-placeholder: 'Gimme some text!';
    --editor-slot-color: #54442b;
    --editor-slot-placeholder: 'Focus this slot and add a widget from the toolbar';
    --editor-toolbar-background: #fff;
    --editor-toolbar-color: #191919;
}

/**
 * Font
 */
@font-face {
    font-family: editor;
    font-style: normal;
    font-weight: normal;
    src: url(editor.woff2) format('woff2');
}

/**
 * Editor
 */
akilli-editor {
    display: block;
}

/**
 * Editor Content
 */
editor-content {
    display: block;
    width: 100%;
    padding: 0.75rem 0.6875rem 0.6875rem;
    border: 0.0625rem solid var(--editor-border);
    border-top: 0;
}

editor-content::before {
    display: table;
    content: ' ';
}

editor-content::after {
    display: table;
    clear: both;
    content: ' ';
}

editor-content:empty::after {
    color: var(--editor-border);
    content: var(--editor-empty);
}

/**
 * Widgets
 */
editor-content :hover {
    outline: 0.25rem dotted var(--editor-hover);
}

editor-content :focus {
    outline: 0.25rem dashed var(--editor-focus);
}

/**
 * Editable
 */
editor-content [contenteditable] {
    min-height: 1.5rem;
}

editor-content [contenteditable=true]:hover {
    outline: 0.25rem dotted var(--editor-hover);
}

editor-content [contenteditable=true] :hover {
    text-decoration: underline;
    outline: none;
    cursor: context-menu;
}

editor-content [contenteditable=true]:empty::after {
    color: var(--editor-border);
    content: var(--editor-placeholder);
}

editor-content td[contenteditable],
editor-content th[contenteditable] {
    height: 1.5rem;
}

editor-content slot[contenteditable] {
    display: block;
    padding: 0.25rem;
    outline: 0.25rem solid var(--editor-slot-color);
}

editor-content slot[contenteditable=true]:empty::after {
    color: var(--editor-slot-color);
    content: var(--editor-slot-placeholder);
}

/**
 * Draggable
 */
editor-content [draggable=true]:hover {
    outline: 0.25rem dashed var(--editor-draggable);
}

.editor-dragover {
    outline: 0.25rem dashed var(--editor-dragover);
}

/**
 * Media
 */
editor-content audio,
editor-content iframe,
editor-content img,
editor-content video {
    pointer-events: none;
}

/**
 * Block
 */
editor-block {
    display: block;
    padding: 0.25rem;
    border: 0.0625rem solid var(--editor-block-background);
}

editor-block::before {
    display: block;
    margin: -0.25rem -0.25rem 0.5rem;
    padding: 0.125rem 0.25rem;
    color: var(--editor-block-color);
    background: var(--editor-block-background);
    content: var(--editor-block-placeholder);
}

/**
 * Dialog
 */
akilli-editor dialog[open] {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

akilli-editor dialog form {
    min-width: 40rem;
    min-height: 20rem;
    padding: 0.75rem;
    background: #fff;
}

akilli-editor dialog form > :not(:first-child),
akilli-editor dialog fieldset > :not(:first-child) {
    margin-top: 1.5rem;
}

akilli-editor dialog legend {
    font-size: 1.25rem;
}

akilli-editor dialog label {
    display: block;
}

akilli-editor dialog .editor-required label::after {
    content: ' *';
}

akilli-editor dialog button {
    padding: 0.75rem;
    color: var(--editor-button-color);
    background: var(--editor-button-background);
}

akilli-editor dialog button + button {
    margin-left: 1.5rem;
}

akilli-editor dialog button[type=button] {
    color: var(--editor-cancel-color);
    background: var(--editor-cancel-background);
}

akilli-editor dialog input[type=email],
akilli-editor dialog input[type=number],
akilli-editor dialog input[type=password],
akilli-editor dialog input[type=search],
akilli-editor dialog input[type=tel],
akilli-editor dialog input[type=text],
akilli-editor dialog input[type=url],
akilli-editor dialog select {
    width: 100%;
    padding: 0.71875rem 0;
    border-bottom: 0.0625rem solid var(--editor-border);
}

akilli-editor dialog input[type=email]:invalid,
akilli-editor dialog input[type=number]:invalid,
akilli-editor dialog input[type=password]:invalid,
akilli-editor dialog input[type=search]:invalid,
akilli-editor dialog input[type=tel]:invalid,
akilli-editor dialog input[type=text]:invalid,
akilli-editor dialog input[type=url]:invalid,
akilli-editor dialog select:invalid {
    border-color: var(--editor-error);
}

/**
 * Toolbar
 */
editor-toolbar {
    position: sticky;
    top: 0;
    display: flex;
    padding: 0.6875rem;
    color: var(--editor-toolbar-color);
    background: var(--editor-toolbar-background);
    border: 0.0625rem solid var(--editor-border);
}

editor-toolbar [data-command] {
    display: inline-block;
    line-height: 1;
    margin-right: 0.75rem;
    padding: 0;
    font-family: editor;
    font-size: 0;
}

editor-toolbar [data-command]:focus {
    color: var(--editor-cmd-focus);
}

editor-toolbar [data-command=bold] {
    order: 1;
}

editor-toolbar [data-command=italic] {
    order: 2;
}

editor-toolbar [data-command=link] {
    order: 3;
}

editor-toolbar [data-command=paragraph] {
    order: 4;
}

editor-toolbar [data-command=heading] {
    order: 5;
}

editor-toolbar [data-command=subheading] {
    order: 6;
}

editor-toolbar [data-command=unorderedlist] {
    order: 7;
}

editor-toolbar [data-command=orderedlist] {
    order: 8;
}

editor-toolbar [data-command=quote] {
    order: 9;
}

editor-toolbar [data-command=image] {
    order: 10;
}

editor-toolbar [data-command=video] {
    order: 11;
}

editor-toolbar [data-command=audio] {
    order: 12;
}

editor-toolbar [data-command=iframe] {
    order: 13;
}

editor-toolbar [data-command=table] {
    order: 14;
}

editor-toolbar [data-command=section] {
    order: 15;
}

editor-toolbar [data-command=details] {
    order: 16;
}

editor-toolbar [data-command=division] {
    order: 17;
}

editor-toolbar [data-command=block] {
    order: 18;
}

editor-toolbar [data-command]::before {
    font-size: 1.5rem;
}

editor-toolbar [data-command=audio]::before {
    content: '\e80c';
}

editor-toolbar [data-command=block] {
    order: 18;
}

editor-toolbar [data-command=block]::before {
    content: '\f2bc';
}

editor-toolbar [data-command=bold]::before {
    content: '\e801';
}

editor-toolbar [data-command=details]::before {
    content: '\f150';
}

editor-toolbar [data-command=division]::before {
    content: '\e804';
}

editor-toolbar [data-command=heading]::before {
    content: '\f1dc';
}

editor-toolbar [data-command=iframe]::before {
    content: '\f1c9';
}

editor-toolbar [data-command=image]::before {
    content: '\e800';
}

editor-toolbar [data-command=italic]::before {
    content: '\e802';
}

editor-toolbar [data-command=link]::before {
    content: '\e803';
}

editor-toolbar [data-command=orderedlist]::before {
    content: '\f0cb';
}

editor-toolbar [data-command=paragraph]::before {
    content: '\f1dd';
}

editor-toolbar [data-command=quote]::before {
    content: '\e805';
}

editor-toolbar [data-command=section]::before {
    content: '\f1ea';
}

editor-toolbar [data-command=subheading]::before {
    content: '\f0fd';
}

editor-toolbar [data-command=table]::before {
    content: '\f0ce';
}

editor-toolbar [data-command=unorderedlist]::before {
    content: '\f0ca';
}

editor-toolbar [data-command=video]::before {
    content: '\e80b';
}
