/**
 * Variable
 */
:root {
    --editor-block-background: #191919;
    --editor-block-color: #fff;
    --editor-block-placeholder: "Block: " attr(id) " ";
    --editor-border: #19191933;
    --editor-button-background: #191919;
    --editor-button-color: #fff;
    --editor-cancel-background: #f1c40f;
    --editor-cancel-color: #191919;
    --editor-cmd-focus: #f1c40f;
    --editor-empty: 'No content :-( ... click a button in the toolbar to add some :-)';
    --editor-error: #960200;
    --editor-focus: #f1c40f;
    --editor-hover: #f1c40f;
    --editor-placeholder: 'Gimme some text!';
    --editor-slot-color: #54442b;
    --editor-slot-placeholder: 'Focus this slot and add a widget from the toolbar';
    --editor-sortover: #191919;
    --editor-toolbar-background: #fff;
    --editor-toolbar-color: #191919;
}

/**
 * Font
 */
@font-face {
    font-family: editor;
    font-display: block;
    font-style: normal;
    font-weight: 900;
    src: url(editor.woff2) format('woff2');
}

/**
 * Editor
 */
akilli-editor {
    display: block;
}

/**
 * Editor Content
 */
editor-root {
    display: block;
    width: 100%;
    padding: 0.75rem 0.6875rem 0.6875rem;
    border: 0.0625rem solid var(--editor-border);
    border-top: 0;
}

editor-root::before {
    display: table;
    content: ' ';
}

editor-root::after {
    display: table;
    clear: both;
    content: ' ';
}

editor-root:empty::after {
    color: var(--editor-border);
    content: var(--editor-empty);
}

/**
 * Widgets
 */
editor-root :hover {
    outline: 0.25rem dotted var(--editor-hover);
}

editor-root :focus {
    outline: 0.25rem dashed var(--editor-focus);
}

/**
 * Editable
 */
editor-root [contenteditable] {
    min-height: 1.5rem;
}

editor-root [contenteditable=true]:hover {
    outline: 0.25rem dotted var(--editor-hover);
}

editor-root [contenteditable=true]:empty::after {
    color: var(--editor-border);
    content: var(--editor-placeholder);
}

editor-root td[contenteditable],
editor-root th[contenteditable] {
    height: 1.5rem;
}

editor-root slot[contenteditable] {
    display: block;
    padding: 0.25rem;
    outline: 0.25rem solid var(--editor-slot-color);
}

editor-root slot[contenteditable=true]:empty::after {
    color: var(--editor-slot-color);
    content: var(--editor-slot-placeholder);
}

/**
 * Sortable
 */
editor-root [data-sortable][data-sort]:hover {
    cursor: grab;
}

editor-root [data-sortover] {
    outline: 0.25rem dashed var(--editor-sortover);
}

/**
 * Media
 */
editor-root audio,
editor-root iframe,
editor-root img,
editor-root video {
    pointer-events: none;
}

/**
 * Block
 */
editor-block {
    display: block;
    padding: 0.25rem;
    border: 0.0625rem solid var(--editor-block-background);
}

editor-block::before {
    display: block;
    margin: -0.25rem -0.25rem 0.5rem;
    padding: 0.125rem 0.25rem;
    color: var(--editor-block-color);
    background: var(--editor-block-background);
    content: var(--editor-block-placeholder);
}

/**
 * Dialog
 */
editor-dialog {
    display: none;
}

editor-dialog[open] {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

editor-dialog form {
    min-width: 40rem;
    min-height: 20rem;
    padding: 0.75rem;
    background: #fff;
}

editor-dialog form > :not(:first-child),
editor-dialog fieldset > :not(:first-child) {
    margin-top: 1.5rem;
}

editor-dialog legend {
    font-size: 1.25rem;
}

editor-dialog label {
    display: block;
}

editor-dialog [data-required] label::after {
    content: ' *';
}

editor-dialog button {
    padding: 0.75rem;
    color: var(--editor-button-color);
    background: var(--editor-button-background);
}

editor-dialog button + button {
    margin-left: 1.5rem;
}

editor-dialog button[type=button] {
    color: var(--editor-cancel-color);
    background: var(--editor-cancel-background);
}

editor-dialog input[type=email],
editor-dialog input[type=number],
editor-dialog input[type=password],
editor-dialog input[type=search],
editor-dialog input[type=tel],
editor-dialog input[type=text],
editor-dialog input[type=url],
editor-dialog select {
    width: 100%;
    padding: 0.71875rem 0;
    border-bottom: 0.0625rem solid var(--editor-border);
}

editor-dialog input[type=email]:invalid,
editor-dialog input[type=number]:invalid,
editor-dialog input[type=password]:invalid,
editor-dialog input[type=search]:invalid,
editor-dialog input[type=tel]:invalid,
editor-dialog input[type=text]:invalid,
editor-dialog input[type=url]:invalid,
editor-dialog select:invalid {
    border-color: var(--editor-error);
}

/**
 * Toolbar
 */
editor-toolbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    color: var(--editor-toolbar-color);
    background: var(--editor-toolbar-background);
    border: 0.0625rem solid var(--editor-border);
}

editor-toolbar [data-command] {
    display: inline-block;
    width: calc(100% / 23);
    line-height: 1;
    padding: 0.25rem;
    font-family: editor;
    font-size: 0;
}

editor-toolbar [data-command]:focus {
    color: var(--editor-cmd-focus);
}

editor-toolbar [data-command]::before {
    font-size: 1.5rem;
}

editor-toolbar [data-command=abbreviation]::before {content: '\f031';}
editor-toolbar [data-command=audio]::before {content: '\f001';}
editor-toolbar [data-command=block]::before {content: '\f466';}
editor-toolbar [data-command=blockquote]::before {content: '\f075';}
editor-toolbar [data-command=bold]::before {content: '\f032';}
editor-toolbar [data-command=cite]::before {content: '\f02d';}
editor-toolbar [data-command=code]::before {content: '\f121';}
editor-toolbar [data-command=data]::before {content: '\f1c0';}
editor-toolbar [data-command=definition]::before {content: '\f129';}
editor-toolbar [data-command=deletion]::before {content: '\f056';}
editor-toolbar [data-command=details]::before {content: '\f150';}
editor-toolbar [data-command=division]::before {content: '\f009';}
editor-toolbar [data-command=emphasis]::before {content: '\f0a1';}
editor-toolbar [data-command=heading]::before {content: '\f1dc';}
editor-toolbar [data-command=horizontalrule]::before {content: '\f068';}
editor-toolbar [data-command=iframe]::before {content: '\f1c9';}
editor-toolbar [data-command=image]::before {content: '\f03e';}
editor-toolbar [data-command=insertion]::before {content: '\f055';}
editor-toolbar [data-command=italic]::before {content: '\f033';}
editor-toolbar [data-command=keyboard]::before {content: '\f11c';}
editor-toolbar [data-command=link]::before {content: '\f0c1';}
editor-toolbar [data-command=mark]::before {content: '\f5a1';}
editor-toolbar [data-command=orderedlist]::before {content: '\f0cb';}
editor-toolbar [data-command=paragraph]::before {content: '\f1dd';}
editor-toolbar [data-command=quote]::before {content: '\f10d';}
editor-toolbar [data-command=sample]::before {content: '\f120';}
editor-toolbar [data-command=section]::before {content: '\f1ea';}
editor-toolbar [data-command=small]::before {content: '\f141';}
editor-toolbar [data-command=strikethrough]::before {content: '\f0cc';}
editor-toolbar [data-command=strong]::before {content: '\f071';}
editor-toolbar [data-command=subheading]::before {content: '\f0fd';}
editor-toolbar [data-command=subscript]::before {content: '\f12c';}
editor-toolbar [data-command=superscript]::before {content: '\f12b';}
editor-toolbar [data-command=table]::before {content: '\f0ce';}
editor-toolbar [data-command=time]::before {content: '\f017';}
editor-toolbar [data-command=underline]::before {content: '\f0cd';}
editor-toolbar [data-command=unorderedlist]::before {content: '\f0ca';}
editor-toolbar [data-command=variable]::before {content: '\f155';}
editor-toolbar [data-command=video]::before {content: '\f03d';}
