/**
 * Variable
 */
:root {
    --editor-block-background: hotpink;
    --editor-block-color: black;
    --editor-block-placeholder: "Block: " attr(id) " ";
    --editor-border: lightgrey;
    --editor-cancel-background: darkgrey;
    --editor-cancel-color: white;
    --editor-cmd-focus: steelblue;
    --editor-drag: darkgreen;
    --editor-empty: 'No content :-( ... click a button in the toolbar to add some :-)';
    --editor-error: darkred;
    --editor-focus: darkorange;
    --editor-outline: gold;
    --editor-placeholder: 'Gimme some text!';
    --editor-save-background: darkgreen;
    --editor-save-color: white;
    --editor-slot-color: salmon;
    --editor-slot-placeholder: 'Focus this slot and add a widget from the toolbar';
    --editor-toolbar-background: white;
    --editor-toolbar-color: black;
}

/**
 * Font
 */
@font-face {
    font-family: editor;
    font-style: normal;
    font-weight: normal;
    src: url(editor.woff2) format('woff2');
}

/**
 * Editor
 */
akilli-editor {
    display: block;
}

/**
 * Editor Content
 */
editor-content {
    display: block;
    width: 100%;
    padding: 0.75rem 0.6875rem 0.6875rem;
    border: 0.0625rem solid var(--editor-border);
    border-top: 0;
}

editor-content::before {
    display: table;
    content: ' ';
}

editor-content::after {
    display: table;
    clear: both;
    content: ' ';
}

editor-content:empty::after {
    color: var(--editor-border);
    content: var(--editor-empty);
}

/**
 * Editor Fullscreen
 */
akilli-editor.editor-fullscreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #fff;
}

akilli-editor.editor-fullscreen > editor-content {
    flex: 1;
    min-height: 0;
    max-height: none;
    overflow-y: scroll;
}

/**
 * Widgets
 */
editor-content > :hover {
    outline: 0.25rem solid var(--editor-border);
}

editor-content > :focus {
    outline: 0.25rem dashed var(--editor-focus);
}

/**
 * Editable
 */
editor-content [contenteditable] {
    min-height: 1.5rem;
}

editor-content td[contenteditable],
editor-content th[contenteditable] {
    height: 1.5rem;
}

editor-content [contenteditable=true]:hover {
    outline: 0.25rem solid var(--editor-outline);
}

editor-content [contenteditable=true]:empty::after {
    color: var(--editor-border);
    content: var(--editor-placeholder);
}

/**
 * Draggable
 */
editor-content [draggable=true]:hover {
    outline: 0.25rem dashed var(--editor-border);
}

editor-content [data-dragover] {
    outline: 0.25rem dashed var(--editor-drag);
}

/**
 * Slot
 */
editor-content slot {
    display: block;
    padding: 0.25rem;
    outline: 0.25rem solid var(--editor-slot-color);
}

editor-content slot::after {
    color: var(--editor-slot-color);
    content: var(--editor-slot-placeholder) !important;
}

/**
 * Media
 */
editor-content audio,
editor-content iframe,
editor-content img,
editor-content video {
    pointer-events: none;
}

/**
 * Block
 */
editor-block {
    display: block;
    padding: 0.25rem;
    border: 0.0625rem solid var(--editor-block-background);
}

editor-block::before {
    display: block;
    margin: -0.25rem -0.25rem 0.5rem;
    padding: 0.125rem 0.25rem;
    color: var(--editor-block-color);
    background: var(--editor-block-background);
    content: var(--editor-block-placeholder);
}

/**
 * Dialog
 */
dialog.editor-dialog[open] {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

dialog.editor-dialog form {
    min-width: 40rem;
    min-height: 20rem;
    padding: 0.75rem;
    background: #fff;
}

dialog.editor-dialog form > :not(:first-child),
dialog.editor-dialog fieldset > :not(:first-child) {
    margin-top: 1.5rem;
}

dialog.editor-dialog legend {
    font-size: 1.25rem;
}

dialog.editor-dialog label {
    display: block;
}

dialog.editor-dialog button {
    padding: 0.75rem;
}

dialog.editor-dialog button.editor-cancel {
    margin-right: 1.5rem;
    color: var(--editor-cancel-color);
    background: var(--editor-cancel-background);
}

dialog.editor-dialog button.editor-save {
    color: var(--editor-save-color);
    background: var(--editor-save-background);
}

dialog.editor-dialog input[type=email],
dialog.editor-dialog input[type=number],
dialog.editor-dialog input[type=password],
dialog.editor-dialog input[type=search],
dialog.editor-dialog input[type=tel],
dialog.editor-dialog input[type=text],
dialog.editor-dialog input[type=url],
dialog.editor-dialog select {
    width: 100%;
    padding: 0.71875rem 0;
    border-bottom: 0.0625rem solid var(--editor-border);
}

dialog.editor-dialog input[type=email]:invalid,
dialog.editor-dialog input[type=number]:invalid,
dialog.editor-dialog input[type=password]:invalid,
dialog.editor-dialog input[type=search]:invalid,
dialog.editor-dialog input[type=tel]:invalid,
dialog.editor-dialog input[type=text]:invalid,
dialog.editor-dialog input[type=url]:invalid,
dialog.editor-dialog select:invalid {
    border-color: var(--editor-error);
}

/**
 * Toolbar
 */
editor-toolbar {
    position: sticky;
    top: 0;
    display: block;
    padding: 0.6875rem;
    color: var(--editor-toolbar-color);
    background: var(--editor-toolbar-background);
    border: 0.0625rem solid var(--editor-border);
}

/**
 * Toolbar Buttons
 */
editor-toolbar [data-cmd] {
    display: inline-block;
    line-height: 1;
    margin-right: 0.75rem;
    padding: 0;
    font-family: editor;
    font-size: 0;
}

editor-toolbar [data-cmd]:focus {
    color: var(--editor-cmd-focus);
}

editor-toolbar [data-cmd]::before {
    font-size: 1.5rem;
}

editor-toolbar [data-cmd=audio]::before {
    content: '\e80c';
}

editor-toolbar [data-cmd=block]::before {
    content: '\f2bc';
}

editor-toolbar [data-cmd=bold]::before {
    content: '\e801';
}

editor-toolbar [data-cmd=details]::before {
    content: '\f150';
}

editor-toolbar [data-cmd=div]::before {
    content: '\e804';
}

editor-toolbar [data-cmd=fullscreen]::before {
    content: '\f0b2';
}

editor-toolbar [data-cmd=heading]::before {
    content: '\f1dc';
}

editor-toolbar [data-cmd=iframe]::before {
    content: '\f1c9';
}

editor-toolbar [data-cmd=image]::before {
    content: '\e800';
}

editor-toolbar [data-cmd=italic]::before {
    content: '\e802';
}

editor-toolbar [data-cmd=link]::before {
    content: '\e803';
}

editor-toolbar [data-cmd=orderedlist]::before {
    content: '\f0cb';
}

editor-toolbar [data-cmd=paragraph]::before {
    content: '\f1dd';
}

editor-toolbar [data-cmd=quote]::before {
    content: '\e805';
}

editor-toolbar [data-cmd=subheading]::before {
    content: '\f0fd';
}

editor-toolbar [data-cmd=table]::before {
    content: '\f0ce';
}

editor-toolbar [data-cmd=unorderedlist]::before {
    content: '\f0ca';
}

editor-toolbar [data-cmd=video]::before {
    content: '\e80b';
}
