/**
 * Editor
 */
.editor {
    width: 100%;
    min-height: 15rem;
}

.editor::before {
    display: table;
    content: " ";
}

.editor::after {
    display: table;
    content: " ";
    clear: both;
}

/**
 * Toolbar
 */
.editor-toolbar {
    padding: 0.75rem;
}

.editor-toolbar img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.editor-toolbar-widget img {
    width: 3rem;
    height: 3rem;
}

/**
 * Editable
 */
.editor > :hover {
    outline: 0.25rem solid #d3d3d3;
}

.editor [contenteditable=true]:hover {
    outline: 0.25rem solid yellow;
}

.editor [contenteditable=true]:empty::after {
    content: 'Add text...';
    color: #d3d3d3;
}

/**
 * Table
 */
.editor td,
.editor th {
    height: 1.5rem;
}

.editor h2,
.editor h3,
.editor li,
.editor figcaption,
.editor p,
.editor summary {
    min-height: 1.5rem;
}
