/**
 * Editor
 */
.editor {
    width: 100%;
    min-height: 15rem;
}

.editor::before {
    display: table;
    content: " ";
}

.editor::after {
    display: table;
    content: " ";
    clear: both;
}

/**
 * Toolbar
 */
.editor-toolbar {
    padding: 0.75rem;
    background: #fff;
    border: 0.0625rem solid #d3d3d3;
}

.editor-toolbar img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.editor-toolbar-widget {
    position: sticky;
    top: 0;
    margin-bottom: 3rem;
}

.editor-toolbar-widget img {
    width: 3rem;
    height: 3rem;
}

.editor-toolbar-editable {
    position: absolute;
    display: none;
}

/**
 * Dialog
 */
dialog.editor-dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

dialog.editor-dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**
 * Widgets
 */
.editor > :hover {
    outline: 0.25rem solid #d3d3d3;
}

/**
 * Editable
 */
.editor [contenteditable=true]:hover {
    outline: 0.25rem solid yellow;
}

.editor [contenteditable] {
    min-height: 1.5rem;
}

.editor td[contenteditable],
.editor th[contenteditable] {
    height: 1.5rem;
}

.editor [contenteditable=true]:empty::after {
    content: 'Gimme some text!';
    color: #d3d3d3;
}

/**
 * Draggable
 */
.editor [draggable=true]:hover {
    outline: 0.25rem dashed #d3d3d3;
}

.editor .dragover {
    outline: 0.25rem dashed red;
}

/**
 * Media
 */
.editor audio,
.editor iframe,
.editor img,
.editor video {
    pointer-events: none;
}
