/**
 * Font
 */
@font-face {
    font-family: editor;
    font-style: normal;
    font-weight: normal;
    src: url(editor.woff2) format('woff2');
}

/**
 * Editor
 */
.editor {
    width: 100%;
    min-height: 15rem;
}

.editor::before {
    display: table;
    content: ' ';
}

.editor::after {
    display: table;
    content: ' ';
    clear: both;
}

.editor > :not(:first-child) {
    margin-top: 1.5rem;
}

/**
 * Toolbar
 */
.editor-toolbar {
    padding: 0.25rem;
    background: #fff;
    border: 0.0625rem solid lightgrey;
}

.editor-toolbar-widget {
    position: sticky;
    top: 0;
    margin-bottom: 3rem;
    padding: 0.75rem;
}

.editor-toolbar-editable {
    position: absolute;
    display: none;
}

/**
 * Toolbar Buttons
 */
.editor-toolbar [data-cmd] {
    line-height: 1;
    margin-right: 0.75rem;
    font-family: editor;
    font-size: 0;
}

.editor-toolbar [data-cmd]::before {
    font-size: 1rem;
}

.editor-toolbar-widget [data-cmd]::before {
    font-size: 1.5rem;
}

.editor-toolbar [data-cmd=blockquote]::before {
    content: '\e805';
}

.editor-toolbar [data-cmd=bold]::before {
    content: '\e801';
}

.editor-toolbar [data-cmd=cite]::before {
    content: '\e807';
}

.editor-toolbar [data-cmd=definition]::before {
    content: '\f129';
}

.editor-toolbar [data-cmd=delete]::before {
    content: '\f1f8';
}

.editor-toolbar [data-cmd=details]::before {
    content: '\f150';
}

.editor-toolbar [data-cmd=heading]::before {
    content: '\f1dc';
}

.editor-toolbar [data-cmd=italic]::before {
    content: '\e802';
}

.editor-toolbar [data-cmd=keyboard]::before {
    content: '\f11c';
}

.editor-toolbar [data-cmd=link]::before {
    content: '\e803';
}

.editor-toolbar [data-cmd=mark]::before {
    content: '\e809';
}

.editor-toolbar [data-cmd=media]::before {
    content: '\e800';
}

.editor-toolbar [data-cmd=orderedlist]::before {
    content: '\f0cb';
}

.editor-toolbar [data-cmd=paragraph]::before {
    content: '\f1dd';
}

.editor-toolbar [data-cmd=quote]::before {
    content: '\f10d';
}

.editor-toolbar [data-cmd=section]::before {
    content: '\f2c2';
}

.editor-toolbar [data-cmd=subheading]::before {
    content: '\f0fd';
}

.editor-toolbar [data-cmd=table]::before {
    content: '\f0ce';
}

.editor-toolbar [data-cmd=unorderedlist]::before {
    content: '\f0ca';
}

/**
 * Widgets
 */
.editor > :hover {
    outline: 0.25rem solid lightgrey;
}

/**
 * Editable
 */
.editor [contenteditable] {
    min-height: 1.5rem;
}

.editor td[contenteditable],
.editor th[contenteditable] {
    height: 1.5rem;
}

.editor [contenteditable=true]:hover {
    outline: 0.25rem solid yellow;
}

.editor [contenteditable=true]:empty::after {
    content: 'Gimme some text!';
    color: lightgrey;
}

/**
 * Draggable
 */
.editor [draggable=true]:hover {
    outline: 0.25rem dashed lightgrey;
}

.editor [data-editor-dragover] {
    outline: 0.25rem dashed darkgreen;
}

/**
 * Media
 */
.editor audio,
.editor iframe,
.editor img,
.editor video {
    pointer-events: none;
}
