/**
 * Variable
 */
:root {
    --app-color-accent: #f4a261;
    --app-color-accent-dark: #e76f51;
    --app-color-accent-light: #e9c46a;
    --app-color-accent-text: #000;
    --app-color-border: #000;
    --app-color-error: #d23632;
    --app-color-error-text: #fff;
    --app-color-primary: #264653;
    --app-color-primary-dark: #000;
    --app-color-primary-light: #2a9d8f;
    --app-color-primary-text: #fff;
}

:root:is(.light, .dark) {
    --editor-block-background: var(--app-color-primary-dark);
    --editor-block-color: var(--app-color-primary-text);
    --editor-border: var(--app-color-border);
    --editor-button-background: var(--app-color-primary-dark);
    --editor-button-color: var(--app-color-primary-text);
    --editor-cancel-background: var(--app-color-primary-light);
    --editor-cancel-color: var(--app-color-primary-text);
    --editor-dialog-backdrop: #000000cc;
    --editor-dialog-background: var(--app-color-primary-text);
    --editor-dialog-color: var(--app-color-primary);
    --editor-error: var(--app-color-error);
    --editor-focus: var(--app-color-accent-light);
    --editor-hover: var(--app-color-accent-light);
    --editor-placeholder: var(--app-color-primary-light);
    --editor-slot: var(--app-color-primary-light);
    --editor-sortover: var(--app-color-primary-dark);
    --editor-toolbar-background: var(--app-color-primary-text);
    --editor-toolbar-color: var(--app-color-primary);
}

:root.dark {
    --app-color-accent: #4166f5;
    --app-color-accent-dark: #003cc1;
    --app-color-accent-light: #8193ff;
    --app-color-accent-text: #fff;
    --app-color-border: #000;
    --app-color-error: #b22222;
    --app-color-error-text: #fff;
    --app-color-primary: #222;
    --app-color-primary-dark: #000;
    --app-color-primary-light: #494949;
    --app-color-primary-text: #fff;
    --editor-dialog-backdrop: #ffffffcc;
    --editor-dialog-background: var(--app-color-primary);
    --editor-dialog-color: var(--app-color-primary-text);
    --editor-toolbar-background: var(--app-color-primary);
    --editor-toolbar-color: var(--app-color-primary-text);
}

/**
 * Layout
 */
body {
    max-width: 66rem;
    margin: 7.5rem auto;
    padding: 0.75rem;
    line-height: 1.5rem;
}

#header,
#footer {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
}

#header {
    top: 0;
}

#footer {
    bottom: 0;
}

:is(#header, #footer) > * {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 0;
}

/**
 * Margin
 */
:is(akilli-editor editor-root, #rte, #rte div) > :not(:is(:first-child)) {
    margin-top: 1.5rem;
}

:is(details, figure, section) > :not(:first-child) {
    margin-top: 0.75rem;
}

/**
 * Font
 */
@font-face {
    font-family: knewave;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../font/knewave.woff') format('woff');
}

@font-face {
    font-family: raleway;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../font/raleway.woff2') format('woff2');
}

@font-face {
    font-family: spartan;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../font/spartan.woff2') format('woff2');
}

body {
    font-family: raleway;
}

blockquote {
    font-family: knewave;
    font-size: 3rem;
}

h2 {
    font-family: spartan;
    font-size: 3rem;
    font-variation-settings: 'wght' 900;
}

h3 {
    font-family: spartan;
    font-size: 1.5rem;
    font-variation-settings: 'wght' 700;
}

figcaption,
small,
table {
    font-size: 0.875rem;
}

var {
    font-family: monospace;
    font-weight: bold;
}

#header label:first-child {
    font-variation-settings: 'wght' 700;;
}

/**
 * Color
 */
body {
    color: var(--app-color-primary);
    background: var(--app-color-primary-text);
}

:root.dark body {
    color: var(--app-color-primary-text);
    background: var(--app-color-primary);
}

details,
pre,
code,
#header {
    color: var(--app-color-primary-text);
    background: var(--app-color-primary-dark);
}

samp {
    color: var(--app-color-accent-light);
    background: var(--app-color-primary-dark);
}

::selection,
details[open] {
    color: var(--app-color-accent-text);
    background: var(--app-color-accent);
}

details[open] ::selection {
    color: var(--app-color-accent);
    background: var(--app-color-accent-text);
}

mark {
    color: var(--app-color-accent-text);
    background: var(--app-color-accent-light);
}

#rte app-block {
    color: var(--app-color-accent-text);
    background: var(--app-color-accent-dark);
}

#clear {
    color: var(--app-color-primary-text);
    background: var(--app-color-primary-light);
}

#save {
    color: var(--app-color-error-text);
    background: var(--app-color-error);
}

::placeholder {
    color: var(--app-color-primary-light);
}

cite,
ins {
    color: var(--app-color-accent-dark);
}

dfn,
del {
    color: var(--app-color-accent-light);
}

a,
blockquote,
figure.blockquote {
    color: var(--app-color-accent);
}

h2,
h3,
details[open] :is(a, blockquote, figure.blockquote) {
    color: var(--app-color-primary-dark);
}

hr {
    background: linear-gradient(to left, var(--app-color-primary-dark), var(--app-color-primary-dark)) no-repeat center;
}

details {
    border: 0.0625rem solid var(--app-color-primary-dark);
}

details[open] summary {
    border-bottom: 0.0625rem solid var(--app-color-primary-dark);
}

td,
th {
    border: solid 0.0625rem var(--app-color-border);
}

thead tr:last-child td,
thead tr:last-child th,
tbody tr:last-child td,
tbody tr:last-child th {
    border-bottom-color: var(--app-color-primary);
}

/**
 * Clear
 */
:is(details, section)::before {
    display: table;
    content: ' ';
}

:is(details, section)::after {
    display: table;
    clear: both;
    content: ' ';
}

/**
 * Text
 */
h2 {
    line-height: 3rem;
}

hr {
    height: 1.5rem;
    background-size: auto 0.125rem;
}

ol,
ul {
    padding-left: 2rem;
}

a {
    text-decoration: underline double;
}

code,
kbd,
mark,
samp {
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

/**
 * Details
 */
details {
    padding: 0.6875rem 0.3125rem;
}

details[open] summary {
    padding-bottom: 0.6875rem;
}

/**
 * Figure
 */
figure.left {
    max-width: 50%;
    float: left;
    margin-right: 0.75rem;
}

figure.center {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

figure.right {
    max-width: 50%;
    float: right;
    margin-left: 0.75rem;
}

/**
 * Blockquote
 */
figure.blockquote,
:not(figure.blockquote) > blockquote {
    padding: 0.75rem;
    text-align: center;
}

blockquote {
    line-height: 3rem;
}

/**
 * Table
 */
figure.table.center table {
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    min-height: 1.5rem;
}

/**
 * Div
 */
:is(akilli-editor editor-root, #rte) div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: end;
    min-height: 0;
    padding: 1.5rem;
}

:is(akilli-editor editor-root, #rte) div figure {
    float: none;
    margin: 0;
}

/**
 * Block
 */
#rte app-block {
    display: block;
    padding: 0.75rem;
    text-align: center;
}

#rte app-block::before {
    display: inline-block;
    vertical-align: middle;
    content: var(--editor-text-block);
}

/**
 * Editor Toolbar
 */
akilli-editor editor-toolbar {
    top: 3rem;
}
