@font-face {
    font-family: knewave;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../font/knewave.woff') format('woff');
}

@font-face {
    font-family: raleway;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../font/raleway.woff2') format('woff2');
}

@font-face {
    font-family: spartan;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../font/spartan.woff2') format('woff2');
}

:root {
    --app-color-primary: oklch(64% 0.17 258);
    --app-color-on-primary:  oklch(20% 0.12 258);
    --app-color-primary-container: oklch(32% 0.10 258 / 67%);
    --app-color-on-primary-container: oklch(90% 0.05 258);
    --app-color-secondary: oklch(74% 0.04 140);
    --app-color-on-secondary: oklch(30% 0.04 140);
    --app-color-secondary-container: oklch(44% 0.04 140 / 67%);
    --app-color-on-secondary-container: oklch(89% 0.02 140);
    --app-color-tertiary: oklch(72% 0.06 15);
    --app-color-on-tertiary: oklch(28% 0.05 15);
    --app-color-tertiary-container: oklch(42% 0.05 15 / 67%);
    --app-color-on-tertiary-container: oklch(91% 0.02 15);
    --app-color-error: oklch(70% 0.15 24);
    --app-color-on-error: oklch(26% 0.12 24);
    --app-color-error-container: oklch(40% 0.12 24 / 67%);
    --app-color-on-error-container: oklch(91% 0.04 24);
    --app-color-surface: oklch(19.2% 0.012 273.9);
    --app-color-on-surface: oklch(91% 0.00 254);
    --app-color-surface-variant: oklch(0% 0 0 / 67%);
    --app-color-on-surface-variant: oklch(100% 0 0);
    --app-color-inverse-surface: oklch(92% 0.01 273.9);
    --app-color-inverse-on-surface: oklch(25% 0.012 273.9);
    --app-color-inverse-primary: oklch(50% 0.15 258);
    --app-color-outline: oklch(45% 0.01 273.9);
    --app-color-outline-variant: oklch(32% 0.01 273.9);
    --app-color-shadow: oklch(0% 0 0);
    --app-color-scrim: oklch(0% 0 0);
}

:host * { pointer-events: none; }

::placeholder { color: var(--app-color-on-surface-variant); }

::selection {
    color: var(--app-color-on-tertiary);
    background: var(--app-color-tertiary);
}

[disabled] { opacity: 0.5; }

body {
    max-width: 66rem;
    margin: 7.5rem auto;
    padding: 0.75rem;
    line-height: 1.5rem;
    font-family: raleway, sans-serif;
    color: var(--app-color-on-surface);
    background: var(--app-color-surface);
    transition: background-color 0.3s ease, color 0.3s ease;
}

app-block {
    display: block;
    height: 6rem;
    color: var(--app-color-on-tertiary-container);
    background: var(--app-color-tertiary-container);
}

a {
    text-decoration: underline double;
    color: var(--app-color-tertiary);
}

code, kbd, mark, samp {
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

code {
    color: var(--app-color-inverse-on-surface);
    background: var(--app-color-inverse-surface);
}

small, sub, sup { font-size: 0.875rem; }

var {
    font-family: monospace;
    font-weight: bold;
}

samp {
    color: var(--app-color-on-surface-variant);
    background: var(--app-color-surface-variant);
}

mark {
    color: var(--app-color-on-tertiary);
    background: var(--app-color-tertiary);
}

h2 {
    line-height: 3rem;
    font-family: spartan, sans-serif;
    font-size: 3rem;
    font-variation-settings: 'wght' 900;
}

h3 {
    font-family: spartan, sans-serif;
    font-size: 1.5rem;
    font-variation-settings: 'wght' 700;
}

ol, ul { padding-left: 2rem; }

hr {
    height: 1.5rem;
    background: linear-gradient(to left, var(--app-color-outline-variant), var(--app-color-outline-variant)) no-repeat center;
    background-size: auto 0.125rem;
}

section {
    padding: 0.75rem 0.375rem;
    overflow: auto;
}

section > :not(:first-child) { margin-top: 0.75rem; }

details {
    padding: 0.6875rem 0.3125rem;
    overflow: auto;
    border: 0.0625rem solid var(--app-color-outline);
}

details[open] {
    color: var(--app-color-on-tertiary);
    background: var(--app-color-tertiary);
}

details > :not(:first-child) { margin-top: 0.75rem; }

details[open] ::selection {
    color: var(--app-color-inverse-on-surface);
    background: var(--app-color-inverse-surface);
}

details[open] summary {
    padding-bottom: 0.6875rem;
    border-bottom: 0.0625rem solid var(--app-color-outline);
}

details[open] :is(a, blockquote, figure.blockquote) { color: var(--app-color-inverse-primary); }

figure > :not(:first-child) { margin-top: 0.75rem; }
figcaption { font-size: 0.875rem; }

pre {
    padding: 0.75rem;
    color: var(--app-color-inverse-on-surface);
    background: var(--app-color-inverse-surface);
}

figure.preformat > figcaption {
    padding: 0.375rem;
    color: var(--app-color-surface);
    background: var(--app-color-on-surface);
}

figure.left {
    max-width: 50%;
    margin: 0 0.75rem 0.75rem 0;
    float: left;
    shape-outside: inset(0 0 0 0);
    shape-margin: 0.75rem;
}

figure.center {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

figure.right {
    max-width: 50%;
    margin: 0 0 0.75rem 0.75rem;
    float: right;
    shape-outside: inset(0 0 0 0);
    shape-margin: 0.75rem;
}

figure.blockquote {
    padding: 0.75rem;
    text-align: center;
    color: var(--app-color-tertiary);
}

:not(figure.blockquote) > blockquote {
    padding: 0.75rem;
    text-align: center;
}

blockquote {
    line-height: 3rem;
    font-family: knewave, cursive;
    font-size: 3rem;
    color: var(--app-color-tertiary);
}

figure.table.center > table { width: 100%; }
table { font-size: 0.875rem; }

colgroup::before, tr::before, td, th {
    min-height: 1.5rem;
    padding: 0.71875rem 0.375rem;
}

col { padding: 0 0.375rem; }

:is(thead, tbody) tr:last-child :is(td, th) { border-bottom-style: solid; }
tfoot tr:last-child :is(td, th) { border-bottom-color: transparent; }
td, th { border-bottom: dotted 0.0625rem var(--app-color-outline); }
:is(td, th).left { text-align: left; }
:is(td, th).center { text-align: center; }
:is(td, th).right { text-align: right; }

#header, #footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    font-size: 0.875rem;
    color: var(--app-color-on-surface-variant);
    background: var(--app-color-surface-variant);
}

#header { top: 0; }
#footer { bottom: 0; }

:is(#header, #footer) > * {
    display: block;
    width: 100%;
    padding: 0.75rem 0.375rem;
    border: 0;
}

#header label:first-child { font-variation-settings: 'wght' 700; }

#clear {
    color: var(--app-color-on-secondary);
    background: var(--app-color-secondary);
}

#save {
    color: var(--app-color-on-primary);
    background: var(--app-color-primary);
}

#rte { overflow: auto; }
:is(akilli-editor editor-root, #rte, #rte div) > :not(:first-child) { margin-top: 1.5rem; }
:is(akilli-editor editor-root, #rte, #rte div) > :is(.left, .right):first-child + * { margin-top: 0; }
akilli-editor editor-toolbar { top: 3rem; }

:is(akilli-editor editor-root, #rte) div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: end;
    min-height: 0;
    padding: 1.5rem;
}

:is(akilli-editor editor-root, #rte) div figure {
    float: none;
    margin: 0;
    shape-outside: none;
}
