*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

*:not(button, input, select, textarea) {
    padding: 0;
}

:root {
    color-scheme: light dark;
}

body {
    min-height: 100dvh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

button, input, select, textarea {
    font: inherit;
}

[role=button], button {
    cursor: pointer;
}

audio, canvas, iframe, img, picture, svg, video {
    display: block;
    max-width: 100%;
    height: auto;
}

main, [role=main] {
    hyphens: auto;
}


h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

select[multiple], textarea {
    resize: vertical;
}

table {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
}

th, thead td {
    white-space: nowrap;
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    :root:focus-within {
        scroll-behavior: auto !important;
    }
}
