*, ::before, ::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, nav ul {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

main { hyphens: auto; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
p { text-wrap: pretty; }
nav ul { list-style: none; }

audio, canvas, img, picture, svg, video {
    display: block;
    max-width: 100%;
    height: auto;
}

iframe {
    display: block;
    max-width: 100%;
}

table {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td { text-align: left; }
th, thead td { white-space: nowrap; }

button, input, select, textarea { font: inherit; }
button, summary { cursor: pointer; }
select[multiple], textarea { resize: vertical; }
select, select::picker { appearance: base-select; }

@media (prefers-reduced-motion: reduce) {
    :root {
        scroll-behavior: auto;
    }

    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: scroll !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
