@font-face {
    font-family: raleway;
    font-weight: normal;
    font-style: normal;
    src: url('../font/raleway.woff2') format('woff2');
}

:root {
    --app-accent: light-dark(oklch(67% 0.17 48), oklch(53% 0.22 258));
    --app-accent-text: light-dark(oklch(18% 0.02 140), oklch(100% 0 0));
    --app-primary: light-dark(oklch(100% 0 0), oklch(27% 0 0));
    --app-primary-dark: light-dark(oklch(100% 0 0), oklch(0% 0 0));
    --app-primary-text: light-dark(oklch(0% 0 0), oklch(100% 0 0));
}

:root.light { color-scheme: light; }
:root.dark { color-scheme: dark; }

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: end;
    min-height: 0;
    padding: 1.5rem;
    font-family: raleway;
    color: var(--app-primary-text);
    background: var(--app-primary);
}

body > * {
    border: 0.0625rem solid var(--app-primary-dark);
    cursor: pointer;
}

body > :hover { border-color: var(--app-accent); }

h2 { font-size: 1.25rem; }

section {
    align-self: start;
    padding: 0.75rem;
}

section:hover {
    color: var(--app-accent-text);
    background: var(--app-accent);
}

section > :not(:first-child) { margin-top: 0.75rem; }

figcaption {
    padding: 0.75rem;
    font-size: 0.85rem;
    background: var(--app-primary-dark);
}

body > figure:hover > figcaption {
    color: var(--app-accent-text);
    background: var(--app-accent);
}

audio, iframe, img, video {
    width: 100%;
    max-height: 24rem;
    object-fit: cover;
    pointer-events: none;
}
