.editor {
    width: 100%;
    min-height: 15rem;
    padding: 0.75rem;
    border: thin solid #d3d3d3;
}

.editor-toolbar {
    padding: 0.75rem;
}

.editor-toolbar img {
    margin-right: 0.5rem;
    cursor: pointer;
}
