.rte {
    width: 100%;
    min-height: 15rem;
    vertical-align: top;
    padding: 0.125rem 0.25rem;
    border: thin solid #d3d3d3;
}

.rte-src {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #fff;
    background: #231f20;
}

.rte-toolbar {
    padding: 0.75rem;
}

.rte-toolbar img {
    margin-right: 0.5rem;
    cursor: pointer;
}
