.editor {
    width: 100%;
    min-height: 15rem;
    padding: 0.75rem;
    border: thin solid #d3d3d3;
}

.editor::before {
    display: table;
    content: " ";
}

.editor::after {
    display: table;
    content: " ";
    clear: both;
}

/**
 * Toolbar
 */
.editor-toolbar {
    padding: 0.75rem;
}

.editor-toolbar img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

/**
 * Table
 */
.editor td,
.editor th {
    height: 1.5rem;
}

.editor h2,
.editor h3,
.editor li,
.editor figcaption,
.editor p,
.editor summary {
    min-height: 1.5rem;
}
