body {
    display: flex;
    flex-wrap: wrap;
}

figure {
    position: relative;
    width: 25%;
    border: 0.75rem solid #000;
    cursor: pointer;
}

figure:hover {
    border-color: #900;
}

figure:hover audio,
figure:hover iframe,
figure:hover video {
    visibility: hidden;
}
