body {
    max-width: 66rem;
    margin: 1.5rem auto;
    line-height: 1.5rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > :not(:first-child),
editor-content > :not(:first-child),
editor-content div > :not(:first-child),
#rte > :not(:first-child),
#rte div > :not(:first-child) {
    margin-top: 1.5rem;
}

details > :not(:first-child),
figure > :not(:first-child),
section > :not(:first-child) {
    margin-top: 0.75rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

ol,
ul {
    padding-left: 2rem;
}

a {
    color: #900;
    text-decoration: underline;
}

/**
 * Figure
 */
figure {
    text-align: center;
}

figure.left {
    float: left;
    margin-right: 0.75rem;
    text-align: left;
}

figure.right {
    float: right;
    margin-left: 0.75rem;
    text-align: left;
}

figcaption {
    font-size: 0.875rem;
}

/**
 * Blockquote
 */
figure.quote {
    padding: 2.25rem 0.75rem 0.75rem;
    color: #fff;
    background: #4adfcc;
    box-shadow: 0.125rem 0.125rem 0.125rem #e0e0e0;
}

figure.quote > blockquote::before {
    display: block;
    content: '🙷';
    font-family: serif;
    font-size: 6rem;
}

figure.quote > figcaption {
    padding-top: 0.75rem;
    border-top: 0.0625rem solid;
}

/**
 * Table
 */
table {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
}

td,
th {
    min-height: 1.5rem;
    border: solid 0.0625rem #e4e7ea;
}

td,
th {
    border: solid 0.0625rem #e4e7ea;
}

thead tr:last-child td,
thead tr:last-child th,
tbody tr:last-child td,
tbody tr:last-child th {
    border-bottom-color: #000;
}

/**
 * Grid
 */
div.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: end;
    min-height: 0;
    padding: 1.5rem;
}

/**
 * Gallery
 */
figure.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    align-items: end;
    min-height: 0;
    padding: 1.5rem;
}

figure.gallery > figcaption {
    grid-column: 1 / span 3;
}

/**
 * Editor
 */
button#button {
    display: block;
    width: 100%;
    line-height: 1.5rem;
    padding: 0.75rem;
    color: #fff;
    background: darkred;
    border: 0;
}

#rte[hidden] ~ button#button {
    background: darkgreen;
}
