body {
    max-width: 66rem;
    margin: 1.5rem auto;
    line-height: 1.5rem;
    font-family: sans-serif;
    color: #191919;
    background: #fff;
}

body > :not(:first-child),
editor-root > :not(:first-child),
editor-root div > :not(:first-child),
#rte > :not(:first-child),
#rte div > :not(:first-child) {
    margin-top: 1.5rem;
}

details > :not(:first-child),
figure > :not(:first-child),
section > :not(:first-child) {
    margin-top: 0.75rem;
}

/**
 * Clear
 */
details::before,
section::before {
    display: table;
    content: ' ';
}

details::after,
section::after {
    display: table;
    clear: both;
    content: ' ';
}

/**
 * Text
 */
h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

ol,
ul {
    padding-left: 2rem;
}

a {
    color: #960200;
    text-decoration: underline;
}

mark {
    padding: 0.125rem 0.25rem;
    background: #ff0;
}

/**
 * Figure
 */
figure.left {
    float: left;
    margin-right: 0.75rem;
}

figure.center {
    text-align: center;
}

figure.right {
    float: right;
    margin-left: 0.75rem;
}

figcaption {
    font-size: 0.875rem;
}

/**
 * Blockquote
 */
blockquote {
    padding: 2.25rem 0.75rem 0.75rem;
    color: #f1c40f;
    background: #191919;
}

blockquote::before {
    display: block;
    content: '🙷';
    font-family: serif;
    font-size: 6rem;
}

figure.quote {
    padding: 0.75rem;
    color: #f1c40f;
    background: #191919;
}

figure.quote > figcaption {
    margin-top: 0;
    padding: 0.25rem;
    color: #191919;
    background: #f1c40f;
}

/**
 * Table
 */
table {
    font-size: 0.875rem;
}

figure.table.center table {
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    min-height: 1.5rem;
    border: solid 0.0625rem #e4e7ea;
}

td,
th {
    border: solid 0.0625rem #e4e7ea;
}

thead tr:last-child td,
thead tr:last-child th,
tbody tr:last-child td,
tbody tr:last-child th {
    border-bottom-color: #191919;
}

/**
 * Details
 */
details {
    padding: 0.6875rem;
    border: 0.0625rem solid;
}

summary {
    margin: -0.75rem;
    padding: 0.6875rem;
    border: 0.0625rem solid;
}

details[open] summary {
    margin-bottom: 0;
    color: #fff;
    background: #000;
}

/**
 * Div
 */
editor-root div,
#rte div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: end;
    min-height: 0;
    padding: 1.5rem;
}

editor-root div figure.right,
#rte div figure.left {
    float: none;
    margin: 0;
}

/**
 * Section
 */
section.content,
section.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5rem auto;
    align-items: start;
    gap: 1.5rem 1.5rem;
}

section.content > figure > img,
section.info > figure > img {
    max-height: 10rem;
}

section.content > * {
    grid-column: 3 / 5;
    margin-top: 0;
}

section.content > figure {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}

section.info > * {
    grid-column: 1 / 4;
    margin-top: 0;
}

section.info > figure {
    grid-column: 4;
    grid-row: 1 / -1;
}

/**
 * Editor
 */
button#button {
    display: block;
    width: 100%;
    line-height: 1.5rem;
    padding: 0.75rem;
    color: #fff;
    background: #191919;
    border: 0;
}
